html body {
	font-family: 'Mitr', sans-serif;
	font-weight: bold;
	height: 100%;
  	width: 100%;
  	background-image: url('image/2.jpg'); 
  	background-size: 100% 100%; 
  	background-repeat: no-repeat;
}

@import "bourbon";

.type {
	width:250px; 
	height:250px; 
	background-color:white; 
	float:left;
	border-radius: 50%;
	color: #0000b9;
}

.type:hover {
	background-color:#0000b9; 
	transition: 0.2s;
	color: white;
}

.type2 {
  width:250px; 
  height:250px; 
  background-color:#ebebe0; 
  float:left;
  border-radius: 50%;
  color: white;
}

.text-type2 {
  margin-top: -30px;
  font-size: 25px;  
  color: white;
}

.type-phone {
  width:22vw; 
  height:22vw; 
  background-color:white; 
  float:left;
  border-radius: 50%;
  color: #0000b9;
}

.type-phone:hover {
  background-color:#0000b9; 
  transition: 0.2s;
  color: white;
}

.type-phone2 {
  width:22vw; 
  height:22vw; 
  background-color:#ebebe0; 
  float:left;
  border-radius: 50%;
  color: white;
}

.head-type-phone {
  margin-top: 2vh;
  font-size: 5vw;    
}

.text-type-phone {
  margin-top: -30px;
  font-size: 2.5vw;  
  color: #e100e1;
}

.text-type-phone2 {
  margin-top: -30px;
  font-size: 2.5vw;  
  color: white;
}

.head-type {
	margin-top: 40px;
	font-size: 60px;		
}

.text-type {
	margin-top: -30px;
	font-size: 25px;	
	color: #e100e1;
}

.form-control {
	width: 200px;
}

.identity {
	width: 20px;
}

#form-table {
	/*border: 1px solid black;*/
  /*box-shadow: 0 0 10px black;*/
  box-shadow: 0 0 10px black, 0 0 25px white;
	padding: 30px;
}

#form-line {
	margin-top: 20px;	
  float: left;
}

#smenu:hover {
	color: #e100e1;
}

.login {
	width:500px; 
	height:250px; 
	background-color:#1c1c86;
	border-radius: 25px;
	margin-top:calc(50vh - 150px);
	margin-left:calc(50vw - 250px);
	color: white;
	position: absolute;
}

.login-phone {
  margin-top: 35vh;
  width:95vw; 
  height:30vh; 
  border-radius: 25px;
  color:#1c1c86;
  position: absolute;
}

.rdo {
	float:left; 
	width:1em; 
	height:1em;
}

/**/

.background {
  @include position(absolute, 0px 0px 0px 0px);
}

.blue-purple {
  @include linear-gradient(to right, #1D2B64, #F8CDDA);
  @include animation(fadeInOut 25s ease);
  @include animation-fill-mode(forwards);
  @include animation-iteration-count(infinite);
}

.green-blue {
  @include linear-gradient(to right, #43cea2, #185a9d);
  @include animation(fadeOutIn 25s ease);
  @include animation-fill-mode(forwards);
  @include animation-iteration-count(infinite);
}

@include keyframes(fadeInOut) {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(fadeOutIn) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.svg-wrapper {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -36px;
  margin-left: -136px;
}

#carpenter-white {
  fill: #fff;
  opacity: 0;
  @include animation(fadeIn 2s ease);
  @include animation-delay(2s);
  @include animation-fill-mode(forwards);
}

#carpenter-logo {
  stroke: rgba(255,255,255,0.5);
  stroke-width: 1.25px;
  @include animation(fadeOut 1s ease);
  @include animation-delay(2.75s);
  @include animation-fill-mode(forwards);
}

#readonly {
  color: #7d7d7d;
}